[Unit]
Description=MegaTrader Deploy Service

[Service]
Type=oneshot
User=root
ExecStart=/var/www/MegaTrader/deploy/deploy.sh

[Install]
WantedBy=multi-user.target